<div class="widget">
    <h5 class="widget-title"><span>Фильтр</span></h5>

    <form method="get" action="{% url 'store_app:filter-motorcycles' %}" id="filter-form">

        <select class="custom-select my-1 mr-sm-2" name="mark" id="mark">
                <option disabled selected>Выберите марку</option>
                {% for mark in marks %}
                    <option value="{{ mark }}">{{ mark }}</option>
                {% endfor %}
        </select>

        <select class="custom-select my-1 mr-sm-2" name="model" id="model" disabled>
            <option disabled selected>Выберите модель</option>
        </select>

        <select class="custom-select my-1 mr-sm-2" name="moto_type" id="moto_type">
            <option disabled selected>Выберите тип</option>
            {% for moto_type in moto_types %}
                <option value="{{ moto_type }}">{{ moto_type.translate }}</option>
            {% endfor %}
        </select>

        <div class="row">
            <div class="col">
                <input type="number" class="form-control" placeholder="Цена от" name="price_from" min="1" step="1" autocomplete="off">
            </div>
            <div class="col">
                <input type="number" class="form-control" placeholder="Цена до" name="price_to" min="1" step="1" autocomplete="off">
            </div>
        </div>

        <button type="submit" class="btn btn-primary my-1">Показать</button>
    </form>
 </div>