{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
<section class="section">
	<div class="container">
		<div class="columns is-desktop is-multiline">
			<div class="column is-8-desktop">
				{% for motorcycle in motorcycles %}
				<article class="columns is-multiline is-justify-content-center mb-6">
					<div class="column is-4-tablet">
						<div class="post-slider slider-sm">
							{% for image in motorcycle.motorcycle_images_set.all %}
								<a href="{{ image.image.url }}"><img loading="lazy" src="{{ image.image.url }}" class="" alt="post-thumb" style="height:310px; object-fit: cover; border: 2px solid #696c6d;"></a>
							{% endfor %}
						</div>
					</div>
					<div class="column is-8-tablet">
						<h3 class="h5"><a class="post-title" href="{% url 'store_app:motorcycle_detail' motorcycle.id %}">{{ motorcycle.mark_info }} {{ motorcycle.model_info }} {{ motorcycle.color }}</a></h3>
						<ul class="list-inline post-meta mb-2">
							<li class="list-inline-item"><i class="ti-user mr-2"></i><a href="{% url 'store_app:motorcycle-filter-user' motorcycle.user %}">{{ motorcycle.user }}</a>
							</li>
<!--							<li class="list-inline-item">{{ motorcycle.created_at|date:"d M Y h:m:s" }}</li>-->
							<li class="list-inline-item">Категория : <a href="{% url 'store_app:type-motorcycles' tag=motorcycle.moto_type %}" class="ml-1"> {{ motorcycle.moto_type }}</a></li>
							<li class="list-inline-item">Город: {{ motorcycle.city }}</li>
						</ul>
						<div>Объем / мощность: {{ motorcycle.displacement }} см³ / {{ motorcycle.horse_power }} л.с.</div>
						<div>Цвет: {{ motorcycle.color }}</div>
						<div>Пробег: {{ motorcycle.mileage }} км</div><br>
						<div class="PriceBlock">Цена: {{ motorcycle.price }} ₽</div><br>

						<p>{{ motorcycle.comment|slice:"2:160" }} …</p>
						<a href="{% url 'store_app:motorcycle_detail' pk=motorcycle.id %}" class="btn btn-outline-primary">Подробнее...</a>
						{% if request.user.id == motorcycle.user.id %}
							<a href="{% url 'store_app:update-offer' pk=motorcycle.id %}" class="btn btn-outline-primary">Редактировать</a>
							<a href="{% url 'store_app:delete-offer' pk=motorcycle.id %}" class="btn btn-outline-primary">Удалить</a>
						{% endif %}
					</div>
				</article>
				{% endfor %}
			</div>

	<aside class="column is-4-desktop">
   <!-- Search -->
	{% include 'storeapp/block-search.html' %}

   <!-- categories -->
	{% include 'storeapp/block-categories.html' %}

   <!-- tags -->
	{% include 'storeapp/block-tags.html' %}

   <!-- latest post -->
	{% include 'storeapp/block-better-post.html' %}
	</aside>
	</div>
	<nav aria-label="Page navigation example">
	  <ul class="pagination justify-content-around">

		{% if page_obj.has_previous %}
		<li class="page-item">
		  <a class="page-link" href="?page=1" >&laquo; firt</a>
		  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Prev.</a>
		</li>
		{% endif %}

		Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

		{% if page_obj.has_next %}
		<li class="page-item">
		  <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
		  <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
		</li>
		{% endif %}
	  </ul>
	</nav>
	</div>
</section>
{% endblock %}
