{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
<section class="section">
	<div class="container">
		<div class="columns is-desktop is-multiline">
			<div class="column is-8-desktop">
				{% for motorcycle in motorcycles %}
				<article class="columns is-multiline is-justify-content-center mb-6">
					<div class="column is-4-tablet">
						<div class="post-slider slider-sm">
							{% for image in motorcycle.motorcycle_images_set.all %}
								<a href="{{ image.image.url }}"><img loading="lazy" src="{{ image.image.url }}" class="" alt="post-thumb" style="height:310px; object-fit: cover; border: 2px solid #696c6d;"></a>
							{% endfor %}
						</div>
					</div>
					<div class="column is-8-tablet">
						<h3 class="h5"><a class="post-title" href="{% url 'store_app:motorcycle_detail' motorcycle.id %}">{{ motorcycle.mark_info }} {{ motorcycle.model_info }}</a></h3>
						<ul class="list-inline post-meta mb-2">
							<li class="list-inline-item"><i class="ti-user mr-2"></i><a href="author.html">John Doe</a>
							</li>
<!--							<li class="list-inline-item">{{ motorcycle.created_at|date:"d M Y" }}</li>-->
							<li class="list-inline-item">Категория : <a href="#!" class="ml-1"> {{ motorcycle.moto_type }}</a></li>
							<li class="list-inline-item">Город: {{ motorcycle.city }}</li>
<!--							<li class="list-inline-item">Tags : <a href="#!" class="ml-1">{{ motorcycle.moto_type }} </a> ,<a href="#!" class="ml-1">Image </a></li>-->
						</ul>
						<div>Объем / мощность: {{ motorcycle.displacement }} см³ / {{ motorcycle.horse_power }} л.с.</div>
						<div>Цвет: {{ motorcycle.color }}</div>
						<div>Пробег: {{ motorcycle.mileage }} км</div><br>
						<div class="PriceBlock">Цена: {{ motorcycle.price }} ₽</div><br>

						<p>{{ motorcycle.comment|slice:"2:160" }} …</p> <a href="{% url 'store_app:motorcycle_detail' pk=motorcycle.id %}" class="btn btn-outline-primary">Подробнее...</a>
					</div>
				</article>
				{% endfor %}
			</div>

	<aside class="column is-4-desktop">
   <!-- Search -->
	{% include 'storeapp/search.html' %}

   <!-- categories -->
	{% include 'storeapp/categories.html' %}

   <!-- tags -->
	{% include 'storeapp/tags.html' %}

   <!-- latest post -->
	{% include 'storeapp/better-post.html' %}
	</aside>

	</div>
</div>
</section>
{% endblock %}
