{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
<section class="section">
	<div class="container">
		<div class="columns is-multiline">
			<div class="column is-12">
				{% for article in news %}
				<article class="columns is-multiline is-justify-content-center mb-6">
					<div class="column is-12">
						<div class="post-slider">
							<img loading="lazy" src="{{ article.image.url }}" class="" alt="post-thumb">
						</div>
					</div>
					<div class="column is-10-desktop">
						<h3><a class="post-title" href="{% url 'news_app:news_detail' article.id %}">{{ article.title }}</a></h3>
						<ul class="list-inline post-meta mb-4">
							<li class="list-inline-item"><i class="ti-user mr-2"></i><a href="{% url 'user_app:profile' article.author.id %}">{{ article.author }}</a>
							</li>
							<li class="list-inline-item">Дата : {{ article.created_at|date:"D d M Y"}}</li>
							<li class="list-inline-item">Категории : <a href="#!" class="ml-1">{{ article.category }}</a>
							</li>

						</ul>
						<p>{{ article.text|slice:":150" }}</p> <a href="{% url 'news_app:news_detail' article.id %}" class="btn btn-outline-primary">Подробно...</a>
					</div>
				</article>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
{% endblock%}