{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
<section class="section">
	<div class="container">
		<div class="columns is-desktop is-multiline">
			<div class="column is-8-desktop">
                 <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                     <div class="form-group row">
                        <label for="{{ form.title.id_for_label }}" class="col-sm-2 col-form-label">{{ form.title.label }}:</label>
                         <div class="col-sm-10">{{ form.title }}</div>
                    </div>
                    <div class="form-group row">
                        <label for="{{ form.image.id_for_label }}" class="col-sm-2 col-form-label">{{ form.image.label }}:</label>
                         <div class="col-sm-10">
                             {% if form.image.initial %}
                                <a href="/media/{{ form.image.initial }}"><img src="/media/{{ form.image.initial }}" width="850" height="850" /></a>
                                {% endif %}
                             <br>{{ form.image }}
                         </div>
                    </div>
                     <div class="form-group row">
                        <label for="{{ form.category.id_for_label }}" class="col-sm-2 col-form-label">{{ form.category.label }}:</label>
                         <div class="col-sm-10">{{ form.category }}</div>
                    </div>
                     <div class="form-group row">
                        <label for="{{ form.text.id_for_label }}" class="col-sm-2 col-form-label">{{ form.text.label }}:</label>
                         <div class="col-sm-10">{{ form.text }}</div>
                    </div>
                     <div class="form-group row">
                        <label for="{{ form.link.id_for_label }}" class="col-sm-2 col-form-label">{{ form.link.label }}:</label>
                         <div class="col-sm-10">{{ form.link }}</div>
                    </div>
                <input type="submit" value="Применить" class="btn btn-primary">
                </form>
	        </div>
	</div>
</section>
{% endblock %}