{% extends 'base.html' %}
{% load static %}
{% block title %}Профиль пользователя: {{ object.username }}{% endblock %}

{% block content %}
<section class="section-sm border-bottom">
	<div class="container">
		<div class="columns is-multiline is-align-items-center">
			<div class="column is-12">
				<div class="title-bordered mb-5 is-flex is-align-items-center">
					<h1 class="h4">Пользователь: <a href="{% url 'user_app:profile' object.id %}">{{ object.username }}</a></h1>
					<ul class="list-inline social-icons ml-auto mr-3 is-hidden-mobile">
						<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a>
						</li>
						<li class="list-inline-item"><a href="#"><i class="ti-twitter-alt"></i></a>
						</li>
						<li class="list-inline-item"><a href="#"><i class="ti-github"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="column is-3-tablet has-text-centered-mobile">
				{% if object.avatar %}
					<img loading="lazy" class="rounded-lg " src="{{ object.avatar.url }}">
				{% else %}
					<img loading="lazy" class="rounded-lg " src="{% static 'images/avatar300x300.png' %}">
				{% endif %}
			</div>
			<div class="column is-9-tablet content has-text-centered-mobile">

			{% include 'userapp/block_change_info.html' %}
	</div>
</section>

<section class="section-sm">
	<div class="container">
		<div class="columns is-multiline">
			<div class="column is-12">
				<div class="title has-text-centered">
					<h3 class="mb-5">Объявления автора {% if offers|length > 6 %}(<a href="{% url 'store_app:motorcycle-filter-user' user=object.username %}">{{  offers|length }}</a>){% endif %} </h3>
				</div>
			</div>
			{% for motorcycle in offers|slice:":6" %}
			<div class="column is-4-desktop is-6-tablet">
				{% if request.user.id == motorcycle.user.id %}
					<li class="list-inline-item"><a href="{% url 'store_app:update-offer' motorcycle.id %}">Редактировать</a></li>
					<li class="list-inline-item"><a href="{% url 'store_app:delete-offer' motorcycle.id %}">Удалить</a></li>
				{% endif %}
				<li class="list-inline-item">Дата: {{ motorcycle.created_at|date:"D d M Y" }}</li>
				<article class="mb-5">
					<div class="post-slider slider-sm">
						{% for image in motorcycle.motorcycle_images_set.all %}
							<img loading="lazy" src="{{ image.image.url }}" class="" alt="post-thumb" style="width: 250px;">
						{% endfor %}
					</div>
					<h3 class="h5"><a class="post-title" href="{% url 'store_app:motorcycle_detail' motorcycle.id %}>{{ motorcycle.mark_info }} {{ motorcycle.model_info }} {{ motorcycle.color }}</a></h3>
					<ul class="list-inline post-meta mb-2">
						<li class="list-inline-item">Объем: {{ motorcycle.displacement }} см³</li>
						<li class="list-inline-item">Цвет: {{ motorcycle.color }}</li>
						<li class="list-inline-item">Пробег: {{ motorcycle.mileage }} км</li>
						<li class="list-inline-item">Цена: {{ motorcycle.price }} ₽</li>
					</ul>
					<p>{{ motorcycle.comment|slice:"2:60" }} …</p>	<a href="{% url 'store_app:motorcycle_detail' pk=motorcycle.id %}" class="btn btn-outline-primary">Подробнее...</a>
				</article>
			</div>
			{% endfor %}
	</div>
	<div class="container">
		<div class="columns is-multiline">
			<div class="column is-12">
				<div class="title has-text-centered">
					<h2 class="mb-5">Новости автора</h2>
				</div>
			</div>
			{% for article in news|slice:":6" %}
			<div class="column is-4-desktop is-6-tablet">
				{% if request.user.id == article.author.id %}
					<li class="list-inline-item"><a href="{% url 'news_app:update_news' article.id %}">Редактировать</a></li>
					<li class="list-inline-item"><a href="{% url 'news_app:delete_news' article.id %}">Удалить</a></li>
				{% endif %}
				<li class="list-inline-item">Дата : {{ article.created_at }}</li>
				<article class="mb-5">
					<div class="post-slider slider-sm">
						<img loading="lazy" src="{{ article.image.url }}" class="" alt="post-thumb" style="width: 250px;">
					</div>
					<h3 class="h5"><a class="post-title" href="{% url 'news_app:news_detail' article.id %}">{{ article.title }}</a></h3>
					<ul class="list-inline post-meta mb-2">
						<li class="list-inline-item">Категория :	<a href="#!" class="ml-1">{{ article.category }} </a>
						</li>
					</ul>
					<p>{{ article.text|slice:":50" }}</p><a href="{% url 'news_app:news_detail' article.id %}" class="btn btn-outline-primary">Подробнее...</a>
				</article>
			</div>
			{% endfor %}
	</div>
</section>
{% endblock %}
{% block my_scripts %}
<script type="text/javascript" src="{% static 'js/my.js' %}"></script>
{% endblock %}
