{% load static %}
<html lang="en-us">

<head>
   <meta charset="utf-8">
   <title>Motorcycle Store {% block title %}{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <!-- mobile responsive meta -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
   <meta name="description" content="Classified motorcycle store">

   <!-- plugins -->
   <link rel="preload" href="https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2" style="font-display: optional;">
   <link rel="stylesheet" href="{% static 'plugins/bulma/bulma.min.css' %}">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:600%7cOpen&#43;Sans&amp;display=swap" media="screen">

   <link rel="stylesheet" href="{% static 'plugins/themify-icons/themify-icons.css' %}">
   <link rel="stylesheet" href="{% static 'plugins/slick/slick.css' %}">

   <!-- Main Stylesheet -->
   <link rel="stylesheet" href="{% static 'css/style.css' %}">

   <!--Favicon-->
   <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
   <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
</head>

<body>
<!-- navigation -->
<header class="is-sticky-top bg-white border-bottom border-default">
   <div class="container">

      <nav class="navigation navbar is-white">
         <a class="navbar-brand is-inline-flex ml-0 is-align-items-center" href="/">
            <img src="{% static 'images/logo.png' %}" alt="logo" width="250px">
         </a>
         <button role="button" class="navbar-burger burger" data-hidden="true" data-target="navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
         </button>

         <ul class="navbar-end navbar-menu" id="navigation">
            {% if user.is_authenticated %}
            <li class="navbar-item has-dropdown is-hoverable has-active">
               <a class="navbar-link">Главная <small class="ti-angle-down ml-1"></small></a>
               <div class="navbar-dropdown">
                  <a class="navbar-item" href="{% url 'store_app:index' %}">Торговая площадка</a>
                  <a class="navbar-item" href="{% url 'store_app:create-offer' %}">Разместить объявление</a>
               </div>
            </li>
            {% else %}
               <li class="navbar-item">
                  <a class="navbar-link is-arrowless" href="{% url 'store_app:index' %}">Магазин</a>
               </li>
            {% endif %}

            {% if user.is_authenticated %}
            <li class="navbar-item has-dropdown is-hoverable has-active">
               <a class="navbar-link">Новости <small class="ti-angle-down ml-1"></small></a>
               <div class="navbar-dropdown">
                  <a class="navbar-item" href="{% url 'news_app:index_news' %}">Публикации</a>
                  <a class="navbar-item" href="{% url 'news_app:create_news' %}">Опубликовать новость</a>
               </div>
            </li>
            {% else %}
            <li class="navbar-item">
                  <a class="navbar-link is-arrowless" href="{% url 'news_app:index_news' %}">Новости</a>
               </li>
            {% endif %}

            <li class="navbar-item has-dropdown is-hoverable has-active">
               <a class="navbar-link">Проект<small class="ti-angle-down ml-1"></small></a>
               <div class="navbar-dropdown">
                  <a class="navbar-link is-arrowless" href="{% url 'store_app:about' %}">О проекте</a>
                  <a class="navbar-link is-arrowless" href="{% url 'store_app:contact' %}">Контакты</a>
               </div>
            </li>

            <li class="navbar-item">
               <a class="navbar-link is-arrowless" href="{% url 'store_app:terms' %}">Условия</a>
            </li>

            {% if user.is_authenticated %}
               <li class="navbar-item has-dropdown is-hoverable has-active">
                  <a class="navbar-link"> Профиль <small class="ti-angle-down ml-1"></small></a>
                  <div class="navbar-dropdown">
                     <a class="navbar-link is-arrowless" href="{% url 'user_app:profile' pk=user.id %}"> {{ user }} </a>
                     <a class="navbar-link is-arrowless" href="{% url 'user_app:logout' %}">Выйти</a>
                  </div>
               </li>
            {% else %}
               <li class="navbar-item">
                  <a class="navbar-link is-arrowless" href="{% url 'user_app:login' %}">Войти</a>
               </li>
            {% endif %}

            <li class="navbar-item">
               <button id="searchOpen" class="search-btn"><i class="ti-search"></i></button>
            </li>

            <!-- search -->
            <div class="search">
               <div class="search-wrapper">
                  <form action="{% url 'store_app:search' %}" class="h-100">
                     <input class="search-box pl-4" id="search-query" name="q" type="search" placeholder="введите строку поиска..." autocomplete="off">
                  </form>
                  <button id="searchClose" class="search-close"><i class="ti-close text-dark"></i></button>
               </div>
            </div>
         </ul>
      </nav>
   </div>
</header>
<!-- /navigation -->
{% block content %}{% endblock %}

 <footer class="section-sm pb-0 border-top border-default">
      <div class="container">
         <div class="columns is-multiline is-justify-content-space-between">
            <div class="column is-3-desktop">
               <a class="mb-5 is-block" href="index.html">
                  <img class="" width="150px" src="{% static 'images/favicon.png' %}"  alt="LogBook">
               </a>
               <p>Выбрал, купил и точка</p>
            </div>

            <div class="column is-2-widescreen is-3-desktop is-6">
               <h6 class="mb-4">Quick Links</h6>
               <ul class="list-unstyled footer-list">
                  <li><a href="{% url 'store_app:about' %}">О нас</a></li>
                  <li><a href="{% url 'store_app:contact' %}">Контакты</a></li>
                  <li><a href="{% url 'store_app:terms' %}">Услования</a></li>
               </ul>
            </div>

            <div class="column is-2-widescreen is-3-desktop is-6">
               <h6 class="mb-4">Social Links</h6>
               <ul class="list-unstyled footer-list">
                  <li><a href="#">facebook</a></li>
                  <li><a href="#">twitter</a></li>
                  <li><a href="#">linkedin</a></li>
                  <li><a href="#">github</a></li>
               </ul>
            </div>

            <div class="column is-3-desktop">
               <h6 class="mb-4">Subscribe Newsletter</h6>
               <form class="subscription" method="post" action="{% url 'store_app:subscription' %}">
                  {% csrf_token %}
                  <div class="is-relative">
                     <i class="ti-email email-icon"></i>
                     <input type="email" name="email_subscription" class="input" placeholder="Your Email Address">
                  </div>
                  <button class="btn btn-primary w-100 rounded mt-2" type="submit" >Subscribe now</button>
               </form>
            </div>
         </div>

         <div class="scroll-top">
            <a href="javascript:void(0);" id="scrollTop"><i class="ti-angle-up"></i></a>
         </div>
         <div class="has-text-centered">
            <p class="content">&copy; 2020 - Design &amp; Develop By <a href="https://themefisher.com/" target="_blank">Themefisher</a></p>
         </div>
      </div>
   </footer>


   <!-- JS Plugins -->
   <script src="{% static 'plugins/jQuery/jquery.min.js' %}"></script>
   <script src="{% static 'plugins/slick/slick.min.js' %}"></script>

   <!-- Main Script -->
   <script src="{% static 'js/script.js' %}"></script>

   <!--  jQuery first, then Popper.js, then Bootstrap JS -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   {% block my_scripts %}{% endblock %}
</body>
</html>