{% extends 'base.html' %}
{% load static %}
{% block title %}{{ object.model_info }}{% endblock %}
{% block content %}
<section class="section">
	<div class="container">
		<div class="columns is-desktop is-multiline">
			<div class="column is-8-desktop">
                <form method="post">{% csrf_token %}
                    {% if object.mark_info %}
                        <p>Вы уверены что хотите удалить объявление о продаже: "{{ object.mark_info }} {{ object.model_info }} {{ object.color }}"?</p>
                    {% else %}
                        <p>Вы уверены что хотите удалить новость: "{{ object.title }}"?</p>
                    {% endif %}
                    {{ form }}
                    <input type="submit" value="Подтвердить">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}